:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  padding: 1rem;
  background-color: #0A1930;
  color: aliceblue;
  display: flex;
  justify-content: center;
}