<footer class="footer-titanes">
  <div class="card-divGeneral">
  <div class="card-titatanes">
    <div class="logo-redes">
    <img src="imagen-titanes.png" alt="" width="100px">
    <div class="titulos">
    <strong><h1 class="titulo-titanes">TITANES FC</h1></strong>
    <h1 class="subtitulo-titanes">CLUB DEPORTIVO</h1>
    <p>Formando campeones desde 1985. Excelencia, pasión y compromiso en cada disciplina.</p>
    </div>
    </div>
    <div class="redes">
      <a href=""><i class="bi bi-facebook"></i></a>
      <a href=""><i class="bi bi-linkedin"></i></a>
      <a href=""><i class="bi bi-instagram"></i></a>
      <a href=""><i class="bi bi-twitter"></i></a>
    </div>
  </div>
  <strong><hr class="divisor-cards"></strong> 
  <div class="card-enlaces">
    <h1 class="titulo-titanes">Enlaces rápidos</h1>
    <ul>
      <a class="nav-enlacesRapidos" href="/"><li>>Inicio</li></a>
      <a class="nav-enlacesRapidos" href="/socios"><li>>Socios</li></a>
      <a class="nav-enlacesRapidos" href="/profesores"><li>>Profesores</li></a>
    </ul>
  </div>
  <strong><hr class="divisor-cards"></strong>
  <div class="card-contacto">
   <strong> <h1 class="titulo-titanes">Contacto</h1> </strong>
    <ul>
      <li>> Av. de los Deportes 123, Ciudad Deportiva</li>
      <li>> +123 456 7890</li>
      <li>> infotitanesfc.com</li>
      <li>> Lun-Sáb: 8:00 - 22:00</li>
    </ul>
  </div>
  </div>

  <hr>
<strong> <small>&copy; 2025 Club Titanes FC - Todos los derechos reservados</small></strong> 

</footer>
