.card-titatanes{
    width: 450px;
}
.card-titanes{
    display: flex;
    flex-direction: column;
}
.logo-redes{
    display: flex;
    flex-direction: row;
        gap: 10px;
}
.titulo-titanes, .subtitulo-titanes{
font-size: 20px;
}
.subtitulo-titanes{
    color: blue;
    font-size: 10px;
}
.redes{
    padding: 20px;
    display: flex;
    gap: 10px;
}
.bi{
    color: black;
    transition: color 0.5s;
}
.bi:hover{
    color: aliceblue;
}
h1{
    color: black;
}
.footer-titanes{
    background-color: #B22222;
    color: white;
}
.card-divGeneral{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}
.divisor-cards{
  border-left: 2px solid rgb(0, 37, 247);
  height: 100px;
  width: 0;
}
small{
    display: flex;
    padding: 5px;
    justify-content: center;
}
.nav-enlacesRapidos{
    color: black;
    transition: 0.3s;
}
.nav-enlacesRapidos:hover{
    color: aliceblue;
}