<nav class="navbar navbar-expand-lg bg-danger text-white">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/"><img src="imagen-titanes.png" alt="" width="60px"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navegador navbar-nav">
        <a class="nav-link"
           routerLink="/"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{ exact: true }">
           Inicio
        </a>
        <a class="nav-link"
           routerLink="/socios"
           routerLinkActive="active">
           Socios
        </a>
        <a class="nav-link"
           routerLink="/profesores"
           routerLinkActive="active">
           Profesores
        </a>
        <a class="nav-link" routerLink="/reportes" routerLinkActive="active">Reportes</a>
        <!-- <a class="nav-link" routerLink="/miPerfil" routerLinkActive="active">Mi Perfil</a> -->
      </div>
    </div>
  </div>
</nav>
