<div class="divGeneral">
    <div class="targeta-DatosPersonales">
        <img src="" alt="">
        <p></p>
        <button></button>
        <div class="datosPersonales">

            <h1>Datos Personales</h1>
            <hr>

            <h2></h2>
            <p></p>

            <h2></h2>
            <p></p>

            <h2></h2>
            <p></p>

            <h2></h2>
            <p></p>

            <hr>

            <h1>Direccion</h1>
            <hr>

            <h2></h2>
            <p></p>

            <h2></h2>
            <p></p>

            <h2></h2>
            <p></p>

            <h2></h2>
            <p></p>

            <button><i class="bi bi-pencil-square"></i> Editar Perfil</button>

        </div>

        
    </div>
</div>