<nav class="navbar navbar-expand-lg bg-danger navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <img src="imagen-titanes.png" alt="Logo" width="60">
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link"
           routerLink="/"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{ exact: true }">
          Panel
        </a>
        <a class="nav-link"
           routerLink="/contacto"
           routerLinkActive="active">
          Contacto
        </a>
      </div>
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#loginModal">
  Iniciar sesión
</button>

<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" #loginModal aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="loginModalLabel">Iniciar Sesión</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>

      <div class="modal-body">
        <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
          <div class="mb-3">
            <label for="email" class="form-label">Correo electrónico</label>
            <input
              type="email"
              class="form-control"
              id="email"
              [(ngModel)]="email"
              name="email"
              required
            />
          </div>

          <div class="mb-3">
            <label for="password" class="form-label">Contraseña</label>
            <input
              type="password"
              class="form-control"
              id="password"
              [(ngModel)]="password"
              name="password"
              required
            />
          </div>

          <button type="submit" class="btn btn-primary w-100">Ingresar</button>
        </form>
      </div>

    </div>
  </div>
</div>
    </div>
  </div>
</nav>
