<div style="background-color: #0c1a2c;">
  <h1 class="tituloReportes">Mis Reportes</h1>
  <hr class="subrayadoTitulo">
</div>

<div class="divReportes"> 
  <hr>

  <h2>Selecciona un reporte</h2>

  <div class="radioButtons">

  <label>
    <input type="radio" name="reporte" value="dni" [(ngModel)]="opcionSeleccionada" (change)="limpiarCampos()" (change)="ocultarBuscador(true)" (change)="buscar()">
    Actividades del Socio por DNI
  </label>
  <br>
  <label>
    <input type="radio" name="reporte" value="disponibilidad" [(ngModel)]="opcionSeleccionada" (change)="limpiarCampos()" (change)="ocultarBuscador(false)">
    Actividades con Disponibilidad por día
  </label>
  <br>
  <label>
    <input type="radio" name="reporte" value="socios" [(ngModel)]="opcionSeleccionada" (change)="limpiarCampos()" (change)="ocultarBuscador(true)" (change)="buscar()">
    Socios Registrados
  </label>

  </div>

  <hr>
  

  @if (estadoBuscador) {
  <div class=" buscador">
        <label for="filtroBusqueda">{{textoLabelCheckBox}}</label>
      <input type="text" id="filtroBusqueda" [(ngModel)]="filtroBusqueda" [placeholder]="placeHolderCheckBox" />
      <button (click)="buscar()"><i class="bi bi-search text-light"></i> Buscar</button>
  </div>
}
  <!-- VENTANA DE RESULTADOS -->
  <div class="divVentanaResultados" *ngIf="opcionSeleccionada">
    
    <!-- DNI -->
    <!-- <div *ngIf="opcionSeleccionada === 'dni'">
       <label for="filtroBusqueda">Ingrese DNI:</label>
      <input type="text" id="filtroBusqueda" [(ngModel)]="filtroBusqueda" />
      <button (click)="buscar()">Buscar</button> 

<div class="tabla-container" *ngIf="socioEncontrado">
  <h2>Datos del socio</h2>
  <table class="tabla-reportes">
    <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>DNI</th>
    </tr>
    </thead>
    <tr>
      <td>{{ socioEncontrado.nombre }}</td>
      <td>{{ socioEncontrado.apellido }}</td>
      <td>{{ socioEncontrado.dni }}</td>
    </tr>
  </table>

  <div *ngIf="actividadDelSocio; else sinActividad">
    <h2>Actividad asignada</h2>
    <table class="tabla-reportes">
      <thead>
      <tr>
        <th>Nombre</th>
        <th>Día</th>
        <th>Horario</th>
      </tr>
      </thead>
      <tr>
        <td>{{ actividadDelSocio.nombre }}</td>
        <td>{{ actividadDelSocio.dia }}</td>
        <td>{{ actividadDelSocio.horario }}</td>
      </tr>
    </table>

    Mostrar profesor si existe 
    <div *ngIf="profesorDeActividad; else sinProfe">
      <h2>Profesor asignado</h2>
      <table class="tabla-reportes">
        <thead>
        <tr>
          <th>Nombre</th>
          <th>Apellido</th>
        </tr>
        </thead>
        <tr>
          <td>{{ profesorDeActividad.nombre }}</td>
          <td>{{ profesorDeActividad.apellido }}</td>
        </tr>
      </table>
    </div>

     Mensaje si no hay profesor
    <ng-template #sinProfe>
      <p class="mensaje-errorDni">Sin profesor asignado para esta actividad.</p>
    </ng-template>
  </div>

  <ng-template #sinActividad>
    <p class="mensaje-errorDni">El socio no tiene actividad asignada.</p>
  </ng-template>
</div>
    </div> -->

    <div *ngIf="opcionSeleccionada === 'dni'">
  <div class="tabla-container" *ngIf="socioEncontrado">
    <h2>Datos del socio</h2>
    <table class="tabla-reportes">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>DNI</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ socioEncontrado.nombre }}</td>
          <td>{{ socioEncontrado.apellido }}</td>
          <td>{{ socioEncontrado.dni }}</td>
        </tr>
      </tbody>
    </table>

    <div *ngIf="actividadDelSocio; else sinActividad">
      <h2>Actividad asignada</h2>
      <table class="tabla-reportes">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Día</th>
            <th>Horario</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ actividadDelSocio.nombre }}</td>
            <td>{{ actividadDelSocio.dia }}</td>
            <td>{{ actividadDelSocio.horario }}</td>
          </tr>
        </tbody>
      </table>

      <div *ngIf="profesorDeActividad; else sinProfe">
        <h2>Profesor asignado</h2>
        <table class="tabla-reportes">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Apellido</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ profesorDeActividad.nombre }}</td>
              <td>{{ profesorDeActividad.apellido }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <ng-template #sinProfe>
        <p class="mensaje-errorDni">Sin profesor asignado para esta actividad.</p>
      </ng-template>
    </div>

    <ng-template #sinActividad>
      <p class="mensaje-errorDni">El socio no tiene actividad asignada.</p>
    </ng-template>
  </div>
</div>

    <!-- DISPONIBILIDAD -->
    <div *ngIf="opcionSeleccionada === 'disponibilidad'">

      <label for="filtroBusqueda">Filtrar por día: </label>
      <select id="filtroBusqueda" [(ngModel)]="filtroBusqueda">
        <option value=""> -- Día --</option>
        <option value="Lunes">Lunes</option>
        <option value="Martes">Martes</option>
        <option value="Miércoles">Miércoles</option>
        <option value="Jueves">Jueves</option>
        <option value="Viernes">Viernes</option>
        <option value="Sábado">Sábado</option>
        <option value="Domingo">Domingo</option>
      </select>
      <button (click)="buscar()">Buscar</button>
<div class="tabla-container" >
<table class="tabla-reportes" *ngIf="actividadesDisponibles.length > 0; else noDisponibles">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Día</th>
      <th>Horario</th>
      <th>Lugar</th>
      <th>Precio</th>
      <th>Anotados</th>
      <th>Cupos</th>
      <th>Disponibilidad</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let actividad of actividadesDisponibles">
      <td><strong>{{ actividad.nombre }}</strong></td>
      <td>{{ actividad.dia }}</td>
      <td>{{ actividad.horario }}</td>
      <td>{{ actividad.lugar }}</td>
      <td>{{ '$' + actividad.precio }}</td>
      <td>{{ actividad.cantidad_anotados }}</td>
      <td>{{ actividad.cupo_maximo }}</td>
      <td>
        <span class="mensaje-error" *ngIf="actividad.cupo_maximo - actividad.cantidad_anotados === 0; else sinCupo">
          No hay cupos disponibles
        </span>
        <ng-template #sinCupo>
          <span class="mensaje-ok">Hay cupos disponibles</span>
        </ng-template>
      </td>
    </tr>
  </tbody>
</table>

<ng-template #noDisponibles>
  <p class="mensaje-error">No hay actividades con disponibilidad para ese día.</p>
</ng-template>
</div>

    </div>

    <!-- SOCIOS -->
    <div *ngIf="opcionSeleccionada === 'socios'">
      <!-- <label for="filtroBusqueda">Ingrese nombre:</label>
      <input type="text" id="filtroBusqueda" [(ngModel)]="filtroBusqueda" />
      <button (click)="buscar()">Buscar</button> -->

      <div class="tabla-container" >
  <table class="tabla-reportes">
        <thead>
      <tr>
        <td>Estado</td>
        <th>Dni</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Dirección</th>
        <th>Teléfono</th>
        <th>Fecha Ingreso</th>
        <th>Categoría</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let socio of sociosFiltrados">
        <td>
          <strong class="estado-activo" *ngIf="+socio.estado_socio === 1; else noActivo">Activo</strong>
         <ng-template #noActivo><strong class="estado-inactivo">No Activo</strong></ng-template>
        </td>
        <td>
          {{socio.dni}}
        </td>
        <td>
          {{socio.nombre}}
        </td>
        <td>
          {{socio.apellido}}
        </td>
        <td>
          {{socio.direccion}}
        </td>
        <td>
          {{socio.telefono}}
        </td>
        <td>
          {{socio.fechaIngreso}}
        </td>
        <td>
          {{socio.categoria}}
        </td>
      </tr>
    </tbody>
  </table>
</div>
    </div>

  </div>
</div>
